<div class="container-fluid mt-5" style="border:solid 2px;" id="product-container">
    <div class="row align-items-center">
        <div class="col"><img src="{{ product.linkToIMG }}" alt=""></div>
        <div class="col"><p><strong>{{ product.name}}</strong></p></div>
        {% for nutrimages in nutrimage  %}
            {% if product.nutriScore == nutrimages.name %}
                <div class="col"><img src="{{ nutrimages.link }}" alt="" style="height:150px;"></div>
            {% endif %}
        {% endfor %}
        <div class="col"><button type="button" class="btn btn-light"><a href="{% url 'substitute_results' product.pk%}">Substituer ?</a></button></div>
    </div>
</div>