<section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Contactez-nous !</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Ouverts 7/7, 11h30-00h30</p>
                        <hr class="divider divider-light" />
                        <i class="bi bi-envelope"></i>
                        mail@gmail.com
                        <i class="bi bi-telephone"></i>
                        666.666.666.666
                    </div>
                </div>
            </div>
</section>