<header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1  id='id_h1' class="text-white font-weight-bold">Du gras, oui, mais de qualité !</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Trouvez un produit de substitution pour ceux que vous consommez tout les jours.</p>
                        <form action="{% url 'searchresult' %}" method="get">
                            <input type="text" class="form-control" placeholder="Chercher un aliment" name="q"> 
                            <button type="submit" class="btn btn-warning">Search</button> 
                        </form>
                    </div>
                </div>
            </div>         
</header>
                