{% extends 'main.html' %}
{% block style %}
<style>
    body {background-color: rgba(222, 148, 64, 0.904);}
</style>
{% endblock %}
{% block content %}

<section class="page-section h-100 bg-dark text-white" id="account">
            <div class="container px-4 px-lg-5 h-100 text-center">
                <h2 class="mb-4">Ahoy !</h2>
                <p>{{ user.username }}</p>
            </div>           
</section>
<div class="container px-4 px-lg-5 h-100 text-center position-relative">
    <p  class="p-3 mt-5 col-2 position-absolute top-0 start-50 translate-middle" id="mailbox">{{ user.email }}</p>
</div>
<br>
<br>
<br>

<div class="container px-4 px-lg-5 h-100 text-center position-relative">
    <p class="p-3 mt-5 col-2 position-absolute top-0 start-50 translate-middle" id="mailbox"><a href="{% url 'password_change' %}">Changer de mot de passe</a></p>
    
</div>
{% endblock content %}