{% extends 'main.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<header class="masthead">
<div class="container-fluid px-4 px-lg-5 h-100" id="registration">
    <div class="row gx-4 gx-lg-5 h-100 align-items-top justify-content-center text-center">
		<h2>Register</h2>
			<form method="post">
				{% csrf_token %}
				{% for field in registration_form %}
				<p>
					{{field.label_tag}}
					{{field}}

					{% if field.help_text %}
						<small style="color: grey;">{{field.help_text}}</small>
					{% endif %}

					{% for error in field.errors %}
						<p style="color: red;">{{error}}</p>
					{% endfor %}
				</p>
			{% endfor %}
				<button type="submit"  name='register' id='id_register' class="btn btn-success">Register</button>
			</form>
	</div>
</div>
</header>

{% endblock %}